.AboutMeWrap {
  background: #00bfb2;
  width: 100%;
  padding: 50px;
}

.AboutContainer {
  width: 80%;
  margin: 10px auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.box1 {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.Aboutp {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  margin-top: 20px;
  font-weight: 600;
}

.box2 {
  width: 45%;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
