.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.NavBar {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  background: #000;
  top: -5px;
  height: 10%;
  z-index: 1;
}

.navWidth {
  width: 40%;
}

.h3,
.li {
  color: #fff;
  list-style: none;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
#h3 {
  /* color: #00bfb2; */
}

.navpic {
  width: 30px;
  height: 30px;
}
