.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.NavBar {
  width: 80%;
  margin: 0 auto;
}

.navWidth {
  width: 40%;
}

.h3,
.li {
  color: #fff;
  list-style: none;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.navpic {
  width: 30px;
  height: 30px;
}
