body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", "arial";
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #a5a5a5;
  height: 100vh;
  width: 8%;
  position: fixed;
  z-index: 20;
}

.nav-container a {
  color: white;
}

#icon:hover {
  color: #5da9e9;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2em;
  text-align: center;
}

header .logo {
  color: #fff;
  font-weight: bold;
  margin-bottom: 2em;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  background: #6e00ff;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
  height: 100vh;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #ff64cb;
}

.meet span {
  margin-top: 1em;
  margin-right: 1em;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #e5d5fa;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #6e00ff;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-title a {
  color: black;
}

.featured-disc {
  color: #3b3b3b;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #ff64cb;
}

.skills-container ul li {
  background: white;
  padding: 0.5em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .icon-container.two {
  width: 140px;
}

.skills-container ul li .icon-container.three {
  width: 100px;
}

.skills-container ul li .skill-title {
  font-weight: bold;
}

.skills-container ul li .featured-disc {
  margin-bottom: 2em;
}

.portfolio {
  background: #f7f7f7;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

.ContactForm {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: relative;
}

.ContactForm h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ContactForm h1 span {
  color: #ff64cb;
  padding-left: 0.1em;
}

.ContactForm .hero-design-bottom {
  display: none;
}

input,
textarea {
  width: 75%;
  border: 2px solid black;
  border-radius: 5px;
  min-height: 2em;
}

button {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  color: #000;
  text-transform: uppercase;
  margin: 5em 20em;
  padding: 18px 35px;
  width: 220px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 4em;
}

button:hover {
  background: #5da9e9;
  color: #fff;
  border: #fff;
}

.Container {
  width: 100%;
  background-color: #6e00ff;
}

.AboutMe {
  width: 100%;
  background-color: #6e00ff;
  width: 100%;
}

.Salute {
  width: 50%;
  margin: 0 auto;
  padding-left: 2em;
}

.Salute .sig {
  width: 100%;
}

.Email {
  font-weight: bold;
  color: #ff64cb;
}

.Wrap {
  position: relative;
  height: 100vh;
  width: 100%;
}

.box {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
}

.overlay {
  top: 40%;
  left: 30%;
}

.text_1 {
  -webkit-animation: text1;
          animation: text1;
}

.text_2 {
  -webkit-animation: text2;
          animation: text2;
}

.text_1,
.text_2 {
  font-size: 2em;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-timing-function: steps(25, end);
          animation-timing-function: steps(25, end);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.text_1::after,
.text_2::after {
  content: "|";
  position: absolute;
  right: 0;
  -webkit-animation: caret infinite;
          animation: caret infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

@-webkit-keyframes text2 {
  0%,
  50%,
  100% {
    width: 0;
  }
  60%,
  90% {
    width: 12.5em;
  }
}

@keyframes text2 {
  0%,
  50%,
  100% {
    width: 0;
  }
  60%,
  90% {
    width: 12.5em;
  }
}

@-webkit-keyframes text1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 11.2em;
  }
}

@keyframes text1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 11.2em;
  }
}

@-webkit-keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.Navflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 800px) {
  .featured,
  .portfolio {
    text-align: left;
  }
  .featured,
  .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left,
  .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
    border-radius: 10px;
  }
  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    grid-gap: 1em;
  }
  .skills-container ul .listed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
  .Salute {
    padding-left: 6em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  section {
    padding: 4em;
  }
  .social-header {
    height: 25vh;
    margin-top: 8em;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #6e00ff;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: -15%;
    width: 100%;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
  .ContactForm input,
  .ContactForm textarea {
    opacity: 0.8;
    padding: 5px;
    font-family: "Poppins", arial;
  }
  .ContactForm h1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: revert;
            flex-direction: revert;
  }
  .ContactForm .hero-design-bottom {
    display: block;
    position: absolute;
    z-index: -1;
    right: 16px;
    bottom: -100px;
    font-size: 18px;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    height: 50vh;
  }
  .Salute {
    padding-left: 8em;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    font-weight: bold;
  }
  header .logo {
    margin-bottom: 8em;
    font-size: 1.3em;
  }
  header ul a {
    padding: unset;
    color: black;
  }
  .social-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social-header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
    height: 100vh;
  }
  .Salute {
    padding-left: 10em;
  }
  .ContactForm input,
  .ContactForm textarea {
    opacity: 0.8;
  }
  .ContactForm .hero-design-bottom {
    display: block;
    position: absolute;
    z-index: -1;
    right: 50px;
    bottom: -100px;
    /* float: right; */
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    height: 50vh;
  }
}

@media only screen and (min-width: 1550px) {
  .hero {
    background: white;
  }
  .hero .content {
    color: black;
  }
  .ContactForm input,
  .ContactForm textarea {
    width: 50%;
  }
  .ContactForm .hero-design-bottom {
    display: block;
    position: absolute;
    z-index: -1;
    right: 95px;
    bottom: -125px;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    height: 55vh;
  }
  .Salute {
    padding-left: 12em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(286px, 581px);
            transform: translate(286px, 581px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(286px, 630px);
            transform: translate(286px, 630px);
    z-index: 5;
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(286px, 581px);
            transform: translate(286px, 581px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(286px, 630px);
            transform: translate(286px, 630px);
    z-index: 5;
  }
}
/*# sourceMappingURL=main.css.map */