body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

section {
  padding: 4em 2em;
  text-align: center;
}

button {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  color: #000;
  text-transform: uppercase;
  margin: 5em 20em;
  padding: 18px 35px;
  width: 220px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 4em;
}

button:hover {
  background: #5da9e9;
  color: #fff;
  border: #fff;
}

.nav-container {
  background: #a5a5a5;
  height: 100vh;
  width: 8%;
  position: fixed;
  z-index: 20;
}

.nav-container a {
  color: white;
}

#icon:hover {
  color: #5da9e9;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2em;
  text-align: center;
}

header .logo {
  color: #fff;
  font-weight: bold;
  margin-bottom: 2em;
  padding-bottom: 50px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.bubble .icon_title {
  display: none;
}

.bubble:hover .icon_title {
  display: initial;
}

.bubble:hover .icon {
  display: none;
}

.Wrap {
  position: relative;
  height: 100vh;
  width: 100%;
}

.box {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
}

.overlay {
  top: 40%;
  left: 30%;
}

.text_1 {
  -webkit-animation: text1;
          animation: text1;
}

.text_2 {
  -webkit-animation: text2;
          animation: text2;
}

.text_1,
.text_2 {
  font-size: 2em;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-timing-function: steps(25, end);
          animation-timing-function: steps(25, end);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.text_1::after,
.text_2::after {
  content: "|";
  position: absolute;
  right: 0;
  -webkit-animation: caret infinite;
          animation: caret infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

@-webkit-keyframes text2 {
  0%,
  50%,
  100% {
    width: 0;
  }
  60%,
  90% {
    width: 12.5em;
  }
}

@keyframes text2 {
  0%,
  50%,
  100% {
    width: 0;
  }
  60%,
  90% {
    width: 12.5em;
  }
}

@-webkit-keyframes text1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 11.2em;
  }
}

@keyframes text1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 11.2em;
  }
}

@-webkit-keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.motion {
  display: none;
}

.hero {
  background: #fff;
  color: white;
  text-align: center;
  padding: 4em;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
}

.hero {
  background: white;
  place-items: center;
}

.hero .content {
  color: black;
}

.hero .content .stagger1 {
  margin-top: 10%;
}

.hero .content h1 {
  font-size: 3em;
  line-height: 1.2em;
}

section {
  padding: 4em;
}

.social-header {
  height: 25vh;
  margin-top: 4em;
}

.social-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  height: 20vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10em;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #5da9e9;
  top: 0;
  left: 170px;
  z-index: 0;
  opacity: 0.25;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-title a {
  color: black;
}

.featured-disc {
  color: #3b3b3b;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 100px;
  height: 100vh;
}

.skills-text {
  max-width: 45%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.skills-text p {
  line-height: 2em;
}

.skills-text p:hover {
  color: #5da9e9;
}

.skills-container {
  max-width: 45%;
  max-height: 95vh;
  padding: 0 10px;
}

.skills-container .skillsCard {
  background: #a5a5a5;
  margin: 20px 0;
  -webkit-box-shadow: 2px 2px 4px #000;
          box-shadow: 2px 2px 4px #000;
  padding: 10px;
}

.skills-container .skills-title {
  color: #fff;
  font-size: 2em;
}

.skills-title h2 {
  margin: auto;
}

.skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3px 0;
}

.skills-content .skill-item {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3px 25px;
  width: 9%;
}

.skills-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-container h4 {
  text-align: center;
  font-size: 0.9rem;
  white-space: nowrap;
  color: #dcdcdc;
  text-shadow: 2px 2px 4px #333;
}

.mobile {
  display: none;
}

.featured,
.portfolio {
  text-align: left;
  background: #fff;
}

.featured,
.portfolio-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 40% auto;
      grid-template-columns: 10% 40% auto;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

.ContactForm {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  position: relative;
}

.ContactForm h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ContactForm h1 span {
  color: #5da9e9;
  padding-left: 0.1em;
}

input,
textarea {
  width: 75%;
  border: 2px solid black;
  border-radius: 5px;
  min-height: 2em;
}

.Container {
  width: 100%;
}

.AboutMe {
  width: 100%;
  width: 100%;
}

.error {
  padding-right: 55em;
  color: #5da9e9;
}

.Salute {
  width: 50%;
  margin: 0 auto;
  padding-left: 2em;
}

.Salute .sig {
  width: 100%;
}

.Navflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1250px) {
  .skills-content .skill-item {
    margin: 3px 19px;
  }
  .overlay {
    left: 25%;
  }
}

@media only screen and (max-width: 1050px) {
  .social-header ul {
    padding-top: 5em;
  }
  .overlay {
    left: 33%;
  }
  .skills-container h4 {
    font-size: 0.4em;
  }
}

@media only screen and (max-width: 900px) {
  .skills-content .skill-item {
    margin: 3px 13px;
  }
  .skills-text {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
  .overlay {
    left: 15%;
    font-size: 0.8em;
  }
  button {
    margin: 5em 14em;
  }
}

@media only screen and (max-width: 800px) {
  .overlay {
    left: 12%;
  }
  .skills-content {
    max-block-size: -webkit-fit-content;
    max-block-size: -moz-fit-content;
    max-block-size: fit-content;
  }
  .skills-content .skill-item {
    margin: 3px 12px;
  }
}

@media only screen and (max-width: 1000px) {
  .nav-container {
    display: none;
  }
  .overlay {
    font-size: 0.4em;
  }
  button {
    margin: 5em 4em;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 18px;
  }
  .skills {
    margin: 10px 0;
    height: unset;
  }
  .skills .skills-text {
    display: none;
  }
  .skills-container {
    max-width: unset;
    margin: 0 auto;
  }
  .mobile {
    display: block;
    color: #000;
    font-size: 2em;
  }
  .featured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-container {
    display: unset;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
  }
  .motion {
    display: block;
    text-align: center;
    margin-top: -17em;
    position: relative;
    opacity: 0.75;
  }
}

@media only screen and (max-width: 400px) {
  button {
    margin: 5em 3em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(286px, 581px);
            transform: translate(286px, 581px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(286px, 630px);
            transform: translate(286px, 630px);
    z-index: 5;
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(286px, 581px);
            transform: translate(286px, 581px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(286px, 630px);
            transform: translate(286px, 630px);
    z-index: 5;
  }
}

.arrow {
  animation: arrowAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes arrowAnim {
  from {
    -webkit-transform: translate(5.436px, 9.082px);
            transform: translate(5.436px, 9.082px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(5.436px, 50px);
            transform: translate(5.436px, 50px);
    z-index: 5;
  }
}

@keyframes arrowAnim {
  from {
    -webkit-transform: translate(5.436px, 9.082px);
            transform: translate(5.436px, 9.082px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(5.436px, 50px);
            transform: translate(5.436px, 50px);
    z-index: 5;
  }
}

.tilt-box-wrap {
  width: 400px;
  height: 400px;
  position: relative;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.tilt-box-wrap:hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.tilt-box {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  color: #fff;
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
          transform: rotateX(0deg) rotateY(0deg);
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.tilt-box strong {
  -webkit-transform: translateZ(40px);
          transform: translateZ(40px);
}

.t_over {
  width: 33.333%;
  height: 33.333%;
  position: absolute;
  z-index: 1;
}

.t_over:nth-child(1) {
  left: 0;
  top: 0;
}

.t_over:nth-child(2) {
  left: 33.333%;
  top: 0;
}

.t_over:nth-child(3) {
  left: 66.666%;
  top: 0;
}

.t_over:nth-child(4) {
  left: 0;
  top: 33.333%;
}

.t_over:nth-child(5) {
  left: 33.333%;
  top: 33.333%;
}

.t_over:nth-child(6) {
  left: 66.666%;
  top: 33.333%;
}

.t_over:nth-child(7) {
  left: 0;
  top: 66.666%;
}

.t_over:nth-child(8) {
  left: 33.333%;
  top: 66.666%;
}

.t_over:nth-child(9) {
  left: 66.666%;
  top: 66.666%;
}

.t_over:nth-child(1):hover ~ .tilt-box {
  -webkit-transform: rotateX(-20deg) rotateY(20deg);
          transform: rotateX(-20deg) rotateY(20deg);
}

.t_over:nth-child(2):hover ~ .tilt-box {
  -webkit-transform: rotateX(-20deg) rotateY(0deg);
          transform: rotateX(-20deg) rotateY(0deg);
}

.t_over:nth-child(3):hover ~ .tilt-box {
  -webkit-transform: rotateX(-20deg) rotateY(-20deg);
          transform: rotateX(-20deg) rotateY(-20deg);
}

.t_over:nth-child(4):hover ~ .tilt-box {
  -webkit-transform: rotateX(0deg) rotateY(20deg);
          transform: rotateX(0deg) rotateY(20deg);
}

.t_over:nth-child(5):hover ~ .tilt-box {
  -webkit-transform: rotateX(0deg) rotateY(0deg);
          transform: rotateX(0deg) rotateY(0deg);
}

.t_over:nth-child(6):hover ~ .tilt-box {
  -webkit-transform: rotateX(0deg) rotateY(-20deg);
          transform: rotateX(0deg) rotateY(-20deg);
}

.t_over:nth-child(7):hover ~ .tilt-box {
  -webkit-transform: rotateX(20deg) rotateY(20deg);
          transform: rotateX(20deg) rotateY(20deg);
}

.t_over:nth-child(8):hover ~ .tilt-box {
  -webkit-transform: rotateX(20deg) rotateY(0deg);
          transform: rotateX(20deg) rotateY(0deg);
}

.t_over:nth-child(9):hover ~ .tilt-box {
  -webkit-transform: rotateX(20deg) rotateY(-20deg);
          transform: rotateX(20deg) rotateY(-20deg);
}
/*# sourceMappingURL=main.css.map */