/* .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
    grid-template-columns: 66% auto;
    background: unset;
} */

@media (min-width: 1050px) {
  .nav-container {
    /* display: -ms-grid; */
    display: grid;
    /* -ms-grid-columns: 66% auto; */
    grid-template-columns: 66% auto;
    background: unset;
  }
  /* @media (min-width: 1050px) {
    .nav-container {
      display: grid;
      grid-template-columns: 66% auto;
      background: unset;
    }
  } */

  .nav {
    display: block;
  }

  .nav a {
    color: white;
    font-weight: 500;
  }

  @media (min-width: 1250px) {
    header {
      padding: 2em 2em 2em 10em;
    }
  }
  header {
    background: #6700ee;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .logo {
    color: #00f7ff;
    font-weight: bold;
    font-size: 1.2em;
  }

  header ul {
    display: -webkit-box;
    display: flex;
  }
  header ul a {
    display: block;
    padding: 0 1em;
  }
  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 1250px) {
    .social-header {
      padding: 2em 10em 2em 0;
    }
  }
  @media (min-width: 1050px) {
    .social-header {
      display: block;
    }
  }
  .social-header ul {
    display: flex;
    justify-content: space-between;
    width: 7em;
    float: right;
  }

  /* .social-header ul a {
    padding: 0 1em;
  } */
}
